body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin:0;
	background-color: #fff;
}

/*Global*/
.container{
	width:80%;
	margin: auto;
	overflow: hidden
}

ul{
	margin: 0;
	padding: 0;

}

.button1{
	height:38px;
	background: #2196F3;
	border:0;
	padding-left: 20px;
	padding-right: 20px; 
	color:white;

}

.dark{
	padding:15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}



/*Header...*/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #2196F3 3px solid;  /* lin below header*/
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}



header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float:right;
	margin-top: 10px;

}

header .current a{
	color: #2196F3 ;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}


/* Showcase */

#showcase {
	min-height: 500px;
	text-align: left;
	color: #212121;
	background-color: #fff; 
}

#showcase h2{
	padding-top: 50px;
	font-family: 'Open Sans'
	margin-top: 100px;
	font-size: 2.8em;
	margin-bottom: 0px ;
	color: #212121;
	font-weight: 400;
}

#showcase .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.5em;
	color: #212121;
}

#showcase p{
	margin-top: 25px;
	font-weight: 300;
}

/*Newsletter  */


#newsletter{
	padding: 1px;
	color: #ffffff;
	background: #35424a;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* boxes */

#boxes {
	margin-top:20px; 
}

#boxes .box{
	float:left;
	width:30%;
	padding: 10px;
	text-align:center;
}

#boxes .box img{
	width:90px;
}

/*sidebar*/
aside#sidebar{
	float:right;
	width:30%;
	margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding: 5px;	
}

/*Main-col */

article#main-col{
	float:left;
	width:65%;
	min-height: 500px;
}

article#main-col .page-title{
	font-size: 40px;
	font-weight: 300;
}

/*  contact */
ul#contacts li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}





footer{
	padding:20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #455A64 ;
	text-align: center; 
}


/* Media Queries*/
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float:none;
		text-align: center;
		width:100%;
	}
	header {
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}

	#newsletter button,
	.quote button{
		display: block;
		width:100%;
	}

	#newsletter form input[type="email"],
	.quote input,
	.quote textarea{
		width:100%;
		margin-bottom: 5px;

	}
}
























